body,
html {
  margin: 0;
  scroll-behavior: smooth;
}

body {
  background-image: url("../images/mainbg'.jfif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
hr {
  color: black !important;
}
/*navbar*/
.navbar {
  background-color: #ccc6ad !important;
  border: 3px solid black !important;
  position: sticky;
  top: 0;
  z-index: 1000;
}
#logo {
  align-items: center;
  max-width: 50px;
  max-height: 50px;
  padding: 5px;
}
#nav_ul {
  width: 100%;
  justify-content: flex-end;
}

.nav-link a {
  padding: 3px;
}

.nav-link {
  text-align: center;
  margin-left: 5px;
  padding: 10px;
  border-radius: 30%;
  text-decoration: none;
  color: black !important;
  text-shadow: 2px 1px white;
  transition: 1s;
}

.nav-link:hover {
  border: 2px solid white;
  color: white !important;
  text-shadow: 2px 1px black;
  border-radius: 30%;
}

/*bg image*/
.bg_image {
  background-image: url("../images/main_bg.jpg");
  background-size: cover;
  background-position: center;
  height: 90vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#int_quote {
  color: white;
  font-size: 5vw;
  text-shadow: 10px 10px black;
}

/*Details*/
.work_title {
  padding: 0px 10px;
  font-size: 5vh;
  color: black;
  text-shadow: 2px 2px white;
}
#nav_align_details {
  padding-top: 70px;
  position: relative;
}
.card_details {
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 50px;
  color: black;
}
#watermark {
  position: absolute;
  background-color: yellowgreen;
  top: 18%;
  right: 5px;
  padding: 5px;
}
.card {
  overflow: hidden;
  text-align: center;
  border: 2px solid black;
  flex-basis: 30%;
  height: 100%;
}
.card img {
  margin: 10px;
}
.card a {
  color: white;
  text-decoration: none;
  transition: 0.7s;
}

.card p {
  background-color: black;
  margin: 0;
  padding: 10px;
  transition: 0.5s;
}
.card a:hover {
  color: black;
}
.card p:hover {
  background-color: white;
}

/*Resume*/
#nav_align_resume {
  padding-top: 70px;
}

#resume_content {
  position: relative;
  border: 3px groove black;
  background-color: #eef0f6;
  margin: 25px;
  padding: 10px;
  display: grid;
  justify-content: space-around;
  overflow-wrap: break-word;
  align-items: center;
  grid-auto-rows: minmax(30px, auto);
  grid-template-columns: 65% 33%;
  grid-template-areas:
    "resume_title resume_title" "name name" "moto moto" "work_history contact" "education skills"
    "projects languages" "hobbies personal_strength" "certificates certificates";
}
#resume_content h2 {
  background-color: #535d6e;
  padding: 5px;
}
#watermark1 {
  position: absolute;
  background-color: yellowgreen;
  top: 0.3%;
  right: 5px;
  padding: 5px;
}
.resume_title {
  grid-area: resume_title;
}
.name {
  grid-area: name;
  text-align: center;
}
.moto {
  grid-area: moto;
}
.work_history {
  grid-area: work_history;
}
.contact {
  grid-area: contact;
}
.education {
  grid-area: education;
}
.skills {
  grid-area: skills;
}
.projects {
  grid-area: projects;
}
.languages {
  grid-area: languages;
}
.certificates {
  grid-area: certificates;
}
.personal_strength {
  grid-area: personal_strength;
}
.hobbies {
  grid-area: hobbies;
}
/*footer*/
footer {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  background-color: black;
  bottom: 0;
  padding: 10px;
}
.footer {
  color: white;
}
#footer_content {
  text-decoration: none;
  color: white;
}

#footer_content:hover {
  font-weight: bolder;
}
